<html>
	<head>
		<title>Manthan</title>	
	</head>
	
	<body>
		<h3>Project Manthan - Aggregating Medical Records</h3> <br>
		<h4>Upload a new file</h4>

		<form action="" method=post enctype=multipart/form-data>
			<input type=submit name='submit' value="Get Reports"> 
			<input type=text name='PhoneNo' placeholder='Enter your mobile no' required> <br><br>
			<input type=submit name='submit' value="Upload Report">
			<input type=file name=file >
		</form>
		<p> * The mobile number acts as a unique identifier to your records for future access. </p><br>

		<p> <strong>Click browse button to </strong></p>
		<p> &emsp;Take a fresh pic from mobile camera </p> <p><em><strong> &emsp;&emsp;OR </strong> </em> </p> 
		<p> &emsp;Select the image file stored in Mobile or PC</p>
		<p> <strong>Uploading file will result in data processing and response with structured data </strong></p><br>
		
		<p>Demo - Download the images and try yourself</p>

		<p><a href="http://manthan.blob.core.windows.net/reports/OHKZAEU7CXSG40H1.jpg">Single Image</a>&emsp;<a href="http://manthan.blob.core.windows.net/reports/TOX7RZWFX44WW551.zip">Zip Collection</a></p> 
		<!-- <pre>We respect your privacy and try to abide by US-HIPAA Privacy rules to maintain anonymity of your medical records. This data is collected for research and analytics purpose. Your support will help us innovate and enhance future heathcare.<br> ThankYou </pre> -->


	</body>
</html>