<!DOCTYPE HTML>
<html>
	<head>
		<title>Manthan - Aggregating Medical Records</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">


				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Project Manthan</h2>
							<p> A scalable Data ETL Platform to Eliminate Noise and Segregate Data into Structured Database for Data Analytics.</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">
					<div class="wrapper">
						<div class="inner">
						<section>
							<div class="row">
								<div class="6u 12u$(medium)">
									<form method="post" action="" enctype=multipart/form-data>
										<div class="actions">
											<label >Identifier</label>
											<input type="text" name="id" required placeholder="Enter your Mobile No" />
										</div>
										<ul class="actions">
											<li><input type="file" name="file"/></li>
										</ul>										
										<ul class="actions">
											<li><input type="submit" name="submit" class="button special" value="Upload Report"></input></li>
											<li><input type="submit" name="submit" class="button" value="Get Statistics"></input></li>
										</ul>
									</form>
								</div>
								<div class="6u 12u$(medium)">
								<p id="para">Digitizing medical records from scanned images of Reports</p>
								<ol>
									<li> Upload scanned image of the report </li> 
									<li> Your mobile number acts as a unique identifier for accessing the statistics in future</li>
									<br><p><strong>Test with sample data</strong> <br><a href="http://manthan.blob.core.windows.net/blob/73L03F991DRL6URCTAZ77ZL4YZB1K4DI.jpg">Single Image file</a><br>
									<a href="http://manthan.blob.core.windows.net/blob/L309QW64JLGH7CH8WUY2F4TNMTW1JD3D.zip">Multiple Report formats - Zip file</a></p>
								</ol>

								</div>
							</div>
							</div>
							</section>
						</div>
						
				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; <a href="https://in.linkedin.com/in/codesagar">SAGAR PATEL </li><li><img id="link" src="/static/images/linkedin.png"></li></a><li><img src="/static/images/gmail.png"> [First + Last Name][dot]exe@gmail.com </li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>
